body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #5c4f7c4b;
    color: #333333;
}
*{
    outline: none;
}
* {
  box-sizing: border-box;
}

/*BOTÃO HAMBURGUER */
.burguer {
    display: none;
    width: 30px;
    height: 20px;
    background: transparent;
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
  }
  /* Estilo das linhas */
  .burguer::before, .burguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    margin-top: 5px;
    position: absolute;
    left: 0;
  }
  /* Linha do meio */
  .burguer::before {
    top: 0;
  }
  /* Linha inferior */
  .burguer::after {
    bottom: 0;
  }
  /* Linha superior */
  .burguer {
    border-top: 3.2px solid black;
  }

  .nav-list{
    position: absolute; /* Fica acima da imagem de fundo */
    top: 0; 
    left: 0;
    width: 100%; /* Ocupa a largura total da tela */
    display: flex;
    justify-content: space-between; /* Espaça os itens para as extremidades */
    align-items: center;
    padding: 10px 20px; /* Ajuste de espaço interno */
    z-index: 1000; /* Certifica-se de que está acima de outros elementos */
    margin-left: -50px;
  }
  
  .nav-left{
      margin-left: 290px;
  }
  
  .nav-left, .nav-right{
      display: flex;
      gap: 30px;   
  }
  
  .log-botao button{
      margin-left: 80px;
  }
   
  /* Estilo do botão */
  .Log {
      font-family: sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: black;
      padding: 15px 40px;
      border: none;
      border-radius: 20px;
      background-color: #b49ef1; /* Cor inicial do botão */
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: all 0.3s ease; /* Transição suave para animação */
      
      
  }
  
  /* Efeito ao passar o mouse */
  .Log:hover {
      background-color: #a186e8; /* Cor ao passar o mouse */
      box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Sombra mais intensa */
      transform: translateY(-5px); /* Levanta o botão */
  } 
  /*Animação dos btn*/
  .btn{
      color:black;
      text-decoration: none;
      font-size: 20px;
      border: none;
      background: none;
      font-family: sans-serif;
      cursor: pointer;
      user-select: none;
      font-weight: 550;
  
  }
  
  .btn::before, .btn::after {
      content: '';
      width: 0%;
      height: 2.1px;
      background: blueviolet;
      display: block;
      transition: 0.5s;
  }
  
  .btn:hover::after, .btn:hover::before {
      width: 100%;
  }
  
  .btn:hover {
      color: black;
  }
  
  .logo {
      margin: 0 50px; /* Espaçamento ao redor do logotipo */
  }
  
  .logo img {
      width: 120px; /* tamanho da img */
      user-select: none;
  }

/* Estilização da seção "Contato" */
.header {
    text-align: center;
    font-size: 80px;
    color: gray;
    margin: 20px 0;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 200px;
    
    
  }
  
  /* Estilização da div de conteúdo */
  .content {
    background-color: #f4f4f4;
    padding: 20px;
  }
  

.icone {
    display: inline-block;
    vertical-align: middle; /* Para alinhar verticalmente com o texto */
    margin-right: 5px; 
    position: relative;
    top: 2px;
}

/* WHASTSAPP*/
.contact {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    color: #666666;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin-left: -5px;
}

.animate-number {
    display: inline-block;
    color: #666666;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
}

.animate-number:hover {
    transform: scale(1.1); /* Aumenta bem pouco o tamanho */
    color: #128C7E; /* Cor mais escura ao passar o mouse */
}
/* WHATS- ACABA AQUI*/

        /* Seção de contato e mapa */

.contato-seçao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    padding: 40px 20px;
    margin-top: 195px;
    border-radius:0px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

/* Texto à esquerda */
.contato-info {
    flex: 1;
    text-align: left;
    padding-right: 20px;
}

.contato-info h2 {
    color: #5c4f7c;
    font-size: 2rem;
    margin-bottom: 20px;
}

.contato-info p {
    font-size: 1rem;
    color: #666666;
    margin: 5px 0;
}

.contato-info .horario {
    margin-left: 29px;
}
.contato-info .icone {
    top: 0.2px;
}

/* Mapa à direita */
.map-container {
    flex: 1;
    text-align: right;
}

.map-container iframe {
    border: none;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    height: 300px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #273d40;
    color: #fff;
    font-size: 0.9em;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }

  /* RESPONSIVO PARA TABLET */
@media (min-width: 500px) and (max-width: 1200px){
    .burguer {
      position: fixed;
      top: 10px;
      left: 10px;
      display: block;
      cursor: pointer;
      z-index: 1001;
      
    }
    
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: white;
      clip-path: circle(100px at -10% -10%);
      transition: 1s ease-out;
  
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 0;
      gap: 0;
      pointer-events: none;
    }
    
    /* Menu hambúrguer */
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('imagens/img20.jpg') no-repeat center center !important; /* Altere para a imagem desejada */
    background-size: cover !important; /* Ajusta a imagem para cobrir toda a área */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
    margin-left: 0;
  }
  
  /* Estilo dos botões do menu */
  .nav-list .btn, .log-botao .Log {
    font-size: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 0;
    opacity: 0;  /* Inicialmente invisível */
    transition: 0.5s ease, 0.5s ease;  /* Transições para opacidade e transformação */
    transform: translateY(20px);  /* Botões começam abaixo e vai para o topo */
  }
  
  /* Botões aparecem um por um com delay */
  .navbar.active .nav-left .btn:nth-child(1){
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
  }
  
  .navbar.active .nav-left .btn:nth-child(2){
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s;
  }
  
  .navbar.active .nav-left .btn:nth-child(3){
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;
  }
  
  .navbar.active .nav-right .btn:nth-child(1){
    opacity: 1;
    transform: translateY(0);  
    transition-delay: 0.8s;
  }
  
  .navbar.active .nav-right .btn:nth-child(2){
    opacity: 1;
    transform: translateY(0);  
    transition-delay: 1s;
  }
  
  .navbar.active .nav-right .btn:nth-child(3){
    opacity: 1;
    transform: translateY(0); 
    transition-delay: 1.2s;
  }
  
  
    /* ESTILOS ATIVOS */
    .navbar.active .nav-list {
      clip-path: circle(1500px at 50% 50%);
    pointer-events: all;
    
  
    }
  
    .navbar.active .nav-list button {
      opacity: 1;
    }
  
  
    .nav-left, .nav-right{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-left: -1px;
    }
  
    .nav-left, .nav-right {
      display: flex;
      gap: 100px;
      justify-content: center;
      margin-top: 160px;
    }
  
    .nav-right {
      display: flex;
      flex-direction: column;
      gap: 30px; 
      align-items: center; 
      justify-content: center; 
      margin-top: 20px; 
    }
  
    .log-botao button {
      margin-top: 10px; 
    }
  
  
    .log-botao {
      margin-left:0px;
      margin-top: 70px;
    }
  
    .logo img {
      display: none;
    }
  
  /* Botão de Login com atraso tbm */
  .navbar.active .log-botao .Log {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.4s;
    
  }
  .btn {
    background-color: #fcfcfc49;
    border-radius: 20px;
  }

  /* Ajuste do layout da seção de contato */
  .contato-seçao {
    flex-direction: column; /* Alinha os elementos verticalmente */
    text-align: center; 
}

.contato-info {
    text-align: center; 
    margin-bottom: 20px; /* Espaço abaixo do texto */
}

.map-container {
    text-align: center;
}

.map-container iframe {
    width: 90%; /* Reduz o tamanho do mapa */
    max-width: 400px; /* Define um limite para o tamanho */
    height: 250px; /* Ajusta a altura */
    width: 450px;
}

  }

  /* RESPONSIVO CELULAR */

@media (min-width: 350px) and (max-width: 499px){
    .burguer {
      position: fixed;
      top: 10px;
      left: 10px;
      display: block;
      cursor: pointer;
      z-index: 1001;
      
    }
    
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: white;
      clip-path: circle(100px at -20% -20%);
      transition: 1s ease-out;
      margin-left: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0 5%;
      gap: 0;
      pointer-events: none;
    }
    
    /* Menu hambúrguer */
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: url('imagens/img20.jpg') no-repeat center center !important; /* Altere para a imagem desejada */
      background-size: cover !important; /* Ajusta a imagem para cobrir toda a área */
      z-index: 1000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 0 5%;
      overflow-y: auto;
      transition: 1s ease-out;
    }
  
  /* Estilo dos botões do menu */
  .nav-list .btn, .log-botao .Log {
    font-size: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 0;
    opacity: 0;  /* Inicialmente invisível */
    transition: 0.5s ease, 0.5s ease;  /* Transições para opacidade e transformação */
    transform: translateY(20px);  /* Botões começam abaixo e vai para o topo */
  }
  
  /* Botões aparecem um por um com delay */
  .navbar.active .nav-left .btn:nth-child(1){
    opacity: 1;
    transform: translateY(0);  /* Move o botão para cima */
    transition-delay: 0.2s;
  }
  
  .navbar.active .nav-left .btn:nth-child(2){
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s;
  }
  
  .navbar.active .nav-left .btn:nth-child(3){
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;
  }
  
  .navbar.active .nav-right .btn:nth-child(1){
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.8s;
  }
  
  .navbar.active .nav-right .btn:nth-child(2){
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1s;
  }
  
  .navbar.active .nav-right .btn:nth-child(3){
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.2s;
  }
  
  
    /* ESTILOS ATIVOS */
    .navbar.active .nav-list {
      clip-path: circle(1500px at 50% 50%);
    pointer-events: all;
    
  
    }
  
    .navbar.active .nav-list button {
      opacity: 1;
    }
  
  
    .nav-left, .nav-right{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-left: -5px;
    }
  
    .nav-left, .nav-right {
      display: flex;
      gap: 100px;
      justify-content: center;
      margin-top: 160px;
    }
  
    .nav-right {
      display: flex;
      flex-direction: column;
      gap: 30px; 
      align-items: center; 
      justify-content: center; 
      margin-top: 20px; 
    }
  
    .log-botao button {
      margin-top: 10px; 
    }
  
  
    .log-botao {
      margin-left:0px;
      margin-top: 80px;
    }
  
    .logo img {
      display: none;
    }
  
  /* Botão de Login com atraso tbm */
  .navbar.active .log-botao .Log {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.4s;
    
  }
  
  .btn {
    background-color: #fcfcfc49;
    border-radius: 20px;
  }

  /* Ajuste do layout da seção de contato */
  .contato-seçao {
    flex-direction: column; /* Alinha os elementos verticalmente */
    text-align: center; 
}

.contato-info {
    text-align: center; 
    margin-bottom: 20px; /* Espaço abaixo do texto */
}

.map-container {
    text-align: center;
}

.map-container iframe {
    width: 100%; /* Reduz o tamanho do mapa */
    max-width: 400px; /* Define um limite para o tamanho */
    height: 250px; /* Ajusta a altura */
    
}

  }